{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "safari": "14" // 根据实际要兼容的Safari最低版本调整，如要兼容Safari 12，就写成"12"
        },
        "useBuiltIns": "usage",
        "corejs": 3
      }
    ],
    "@babel/preset-typescript"
  ]
}